
/* ▼(A)表示領域全体 */
div.tabbox {
	margin: 0px;
	padding: 0px;
	width: 800px;
}

/* ▼(B)タブ部分 */
p.tabs {
	margin: 0px;
	padding: 0px;
}

/* ▼(B-2)リンクをタブのように見せる */
p.tabs a {
	display: block;
	width: 200px;
	float: left;
	margin: 0px 1px 0px 0px; padding: 3px;
	text-align: center;
	border-radius: 12px 12px 0px 0px;
}
/* ▼(B-3)each tab color */
p.tabs a.tab_btn1 { background-color: #0000ff; color: white; }
p.tabs a.tab_btn2 { background-color: #aaaa00; color: white; }
p.tabs a.tab_btn3 { background-color: #ff0000; color: white; }
p.tabs a:hover { color: yellow; }

/* ▼(C)タブ中身のボックス */
div.tab {
   /* ▼(C-2)ボックス共通の装飾 */
	height: 600px;
	overflow: auto;
	clear: left;
}
/* ▼(C-3)各ボックスの配色 */
div#tab_body1 { border: 2px solid #0000ff; background-color: #ccffff; }
div#tab_body2 { border: 2px solid #aaaa00; background-color: #ffffcc; }
div#tab_body3 { border: 2px solid #ff0000; background-color: #ffcccc; }
div.tab p { margin: 10px; }

