/* -- Renewal --  */
.tabs.is-boxed li.is-active a.color-lightblue,
.color-lightblue {
  border: solid 3px cornflowerblue;
}

.tabs.is-boxed li.is-active a.color-yellow,
.color-yellow {
  border: solid 3px orange;
}

.content-gesture .input {
  width: 200px;
}

.content-gesture .views-gesture {
  width: 250px;
  display: inline-block;
  word-wrap: break-word;
  cursor: pointer;
  background-color: beige;
}
